html, body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
	display:flex;
	justify-content: center;
}

header {
	/* border: 1px solid #ccc; */
	width: 400px;
	height: 400px;
	padding: 100px 0;
	/* text-align: center; */
}
header h1 {
	text-align: center;
	font-size: 40px;
}
header .input {
	display: flex;
	justify-content: center;
}

header .button {
	background-color: #fff;
	color: #89cfb4;
	border: 1px solid #89cfb4;
	padding: 5px 10px;
	text-decoration: none;
}

#inputField {
	width: 300px;
	height: 46px;
	border: 1px solid #ccc;
	outline: none;
	vertical-align: middle;
	font-size: 25px;
}

#addToDo {
	height: 50px;
	width: 50px;
	border:1px solid #ccc;
	vertical-align: middle;
	font-size: 30px;
}

.paragraph-styling {
	margin: 0;
	cursor: pointer;
	font-size: 20px;
}

#toDoContainer{
	width: 100%;
}
#toDoContainer span {
	/* background-color: #ad2424; */
	display: flex;
	justify-content: space-between;
	padding-left: 20px;
	margin-top: 10px;
	width: 100%;

}
#toDoContainer span span{
	/* background-color: #fff; */
	font-size: 20px;
	padding-top: 30px;
	width: 30px;
	height: 30px;
	cursor: pointer;
	
}
#toDoContainer span p {
	font-size: 25px;
	padding: 10px;
	inline-size: 80%;
	overflow-wrap: break-word;
}

